<div class="container">
  <h4>Información del alumno</h4>
  <hr>
  <h5>Id: {{ alumno1.id }}</h5>
  <hr>
  <h5>Nombre: {{ alumno1.name }}</h5>
  <hr>
  <h5>Apellidos: {{ alumno1.surname }}</h5>
  <hr>
  <h5>Ciudad: {{ alumno1.city }}</h5>
</div>
